In [158]:
from functools import reduce
import statistics as st
import cv2
import pytesseract
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random
from datetime import datetime
#import matplotlib.pyplot as plt
import os
#from PyPDF2 import PdfReader
#%matplotlib inline
pytesseract.pytesseract.tesseract_cmd = r'C:\Users\epenago\AppData\Local\Tesseract-OCR\tesseract.exe'

In [2]:
# get grayscale image
def get_grayscale(image):
    return cv2.cvtColor(image, cv2.COLOR_BGR2GRAY)

# noise removal
def remove_noise(image):
    return cv2.medianBlur(image,5)
 
#thresholding
def thresholding(image):
    return cv2.threshold(image, 0, 255, cv2.THRESH_BINARY + cv2.THRESH_OTSU)[1]

#dilation
def dilate(image):
    kernel = np.ones((5,5),np.uint8)
    return cv2.dilate(image, kernel, iterations = 1)
    
#erosion
def erode(image):
    kernel = np.ones((5,5),np.uint8)
    return cv2.erode(image, kernel, iterations = 1)

#opening - erosion followed by dilation
def opening(image):
    kernel = np.ones((5,5),np.uint8)
    return cv2.morphologyEx(image, cv2.MORPH_OPEN, kernel)

#canny edge detection
def canny(image):
    return cv2.Canny(image, 100, 200)

In [3]:
def calcular_espacios(diccionario, indices):
    
    suma = 0
    bandera = True
  
    width_espacios = []
    for i in range(len(indices)):
             
        if(bandera == True):
            
            bandera = False
            suma = 0
            suma += int(diccionario["left"][indices[i]])+int(diccionario["width"][indices[i]])

            if i < len(indices)-1:
                if int(diccionario["top"][indices[i]]) >= int(diccionario["top"][indices[i+1]]) and int(diccionario["top"][indices[i]]) < int(diccionario["top"][indices[i+1]])+10 or int(diccionario["top"][indices[i]]) < int(diccionario["top"][indices[i+1]]) and int(diccionario["top"][indices[i]]) > int(diccionario["top"][indices[i+1]])-10:
                    pass
                else:
                    bandera = True
            else:           
                    bandera = True
                    

        elif(i < len(indices)-1):
            width_espacios.append(diccionario["left"][indices[i]] - suma)
            suma += int(diccionario["width"][indices[i]] + (diccionario["left"][indices[i]] - suma))
            if int(diccionario["top"][indices[i]]) >= int(diccionario["top"][indices[i+1]]) and int(diccionario["top"][indices[i]]) < int(diccionario["top"][indices[i+1]])+10 or int(diccionario["top"][indices[i]]) < int(diccionario["top"][indices[i+1]]) and int(diccionario["top"][indices[i]]) > int(diccionario["top"][indices[i+1]])-10:
                pass
            else:
                bandera = True
               

        elif(i <= len(indices)-1):
            width_espacios.append(diccionario["left"][indices[i]] - suma)
            suma += int(diccionario["width"][indices[i]] + (diccionario["left"][indices[i]] - suma))
            bandera = True
            
    #print(width_espacios)
    width_espacios.sort() 
    
    moda = st.mode(width_espacios)
    return (moda-(moda*1), moda+(moda*1))

In [4]:
def coordenadas_extraccion(diccionario, indices, intervalo):
    
    datos_extraidos = []
    dict = {}
    coordenadas = []
    suma = 0
    bandera = True
    indice_anterior = -1
    strings = []
    string = ""
    index = []
    line = 0

    for i in range(len(indices)):
             
        if(bandera == True):
            indice_anterior = i
            
            bandera = False
            suma = 0
            suma += int(diccionario["left"][indices[i]])+int(diccionario["width"][indices[i]])

            # Se guarda la palabra y su indice
            string = diccionario["text"][indices[i]]
            index.append(indices[i])
            
            if i < len(indices)-1:
                if (int(diccionario["top"][indices[i]]) >= int(diccionario["top"][indices[i+1]]) and int(diccionario["top"][indices[i]]) < int(diccionario["top"][indices[i+1]])+13 or int(diccionario["top"][indices[i]]) < int(diccionario["top"][indices[i+1]]) and int(diccionario["top"][indices[i]]) > int(diccionario["top"][indices[i+1]])-13):
                    
                    if (diccionario["left"][indices[i+1]] - suma) < intervalo[0] or (diccionario["left"][indices[i+1]] - suma) > intervalo[1]:
                        bandera = True
                        #print(indices[i])
                        coordenadas.append([diccionario["left"][indices[indice_anterior]], 
                        diccionario["top"][indices[indice_anterior]], 
                        suma,
                        diccionario["top"][indices[i]]+diccionario["height"][indices[i]]])
                        
                        dict["text"] = string
                        dict["line"] = line
                        dict["index"] = index
                        dict["coordinates"] = (diccionario["left"][indices[indice_anterior]], suma)
                        datos_extraidos.append(dict)
                                                                    
                        dict = {}                        
                        string = ""
                        index = []

                        bandera = True
                        indice_anterior = -1
                else:
                    bandera = True
                    #print(indices[i])
                    coordenadas.append([diccionario["left"][indices[indice_anterior]], 
                    diccionario["top"][indices[indice_anterior]], 
                    suma,
                    diccionario["top"][indices[i]]+diccionario["height"][indices[i]]])
                    

                    dict["text"] = string
                    dict["line"] = line
                    dict["index"] = index
                    dict["coordinates"] = (diccionario["left"][indices[indice_anterior]], suma)
                    datos_extraidos.append(dict)
                                                                
                    dict = {}                        
                    string = ""
                    index = []
                    line += 1

                    bandera = True
                    indice_anterior = -1
            else:           
                    coordenadas.append([diccionario["left"][indices[indice_anterior]], 
                    diccionario["top"][indices[indice_anterior]], 
                    suma,
                    diccionario["top"][indices[i]]+diccionario["height"][indices[i]]])

                    dict["text"] = string
                    dict["line"] = line
                    dict["index"] = index
                    dict["coordinates"] = (diccionario["left"][indices[indice_anterior]], suma)
                    datos_extraidos.append(dict)
                                                                
                    dict = {}                        
                    string = ""
                    index = []

                    bandera = True
                    indice_anterior = -1

        elif(i < len(indices)-1):
            string += (" " + diccionario["text"][indices[i]])
            index.append(indices[i])

            suma += int(diccionario["width"][indices[i]] + (diccionario["left"][indices[i]] - suma))
            if (int(diccionario["top"][indices[i]]) >= int(diccionario["top"][indices[i+1]]) and int(diccionario["top"][indices[i]]) < int(diccionario["top"][indices[i+1]])+13 or int(diccionario["top"][indices[i]]) < int(diccionario["top"][indices[i+1]]) and int(diccionario["top"][indices[i]]) > int(diccionario["top"][indices[i+1]])-13):
                
                if (diccionario["left"][indices[i+1]] - suma) < intervalo[0] or (diccionario["left"][indices[i+1]] - suma) > intervalo[1]:
                    bandera = True
                    #print(indices[i])
                    coordenadas.append([diccionario["left"][indices[indice_anterior]], 
                    diccionario["top"][indices[indice_anterior]], 
                    suma,
                    diccionario["top"][indices[i]]+diccionario["height"][indices[i]]])

                    dict["text"] = string
                    dict["line"] = line
                    dict["index"] = index
                    dict["coordinates"] = (diccionario["left"][indices[indice_anterior]], suma)
                    datos_extraidos.append(dict)
                                                                
                    dict = {}                        
                    string = ""
                    index = []

                    bandera = True
                    indice_anterior = -1
            else:
                bandera = True
                #print(indices[i])
                coordenadas.append([diccionario["left"][indices[indice_anterior]], 
                diccionario["top"][indices[indice_anterior]], 
                suma,
                diccionario["top"][indices[i]]+diccionario["height"][indices[i]]])

                dict["text"] = string
                dict["line"] = line
                dict["index"] = index
                dict["coordinates"] = (diccionario["left"][indices[indice_anterior]], suma)
                datos_extraidos.append(dict)
                                                            
                dict = {}                        
                string = ""
                index = []
                line += 1

                bandera = True
                indice_anterior = -1

        elif(i <= len(indices)-1):
            suma += int(diccionario["width"][indices[i]] + (diccionario["left"][indices[i]] - suma))
            coordenadas.append([diccionario["left"][indices[indice_anterior]], 
            diccionario["top"][indices[indice_anterior]], 
            suma,
            diccionario["top"][indices[i]]+diccionario["height"][indices[i]]])

            string = ""
            index = []

            bandera = True
            indice_anterior = -1

    return (coordenadas, datos_extraidos)

En el Metodo extraccion_columns logramos separar las columnas extrayedo y clasificando los indices en el dicionario data_ordenaizer

In [5]:
def extracion_colums(df):

    arr = np.array(df["coordinates"].to_list())
    colums = []
    
    for i in np.arange(len(arr)):
        temp = []
        temp.append(i)
        for j in np.arange(len(arr)):

            if i == j: continue
            interval1 = np.arange(arr[i,0], arr[i,1]+1, dtype=int)
            interval2 = np.arange(arr[j,0], arr[j,1]+1, dtype=int)

            sum = 0
            for k in interval1:
                if k in interval2:
                    sum += 1
    
            tamaño1 = len(interval1)
            tamaño2 = len(interval2)
            percent1 = int((100/tamaño1)*sum )
            percent2 = int((100/tamaño2)*sum )
            """
            print("tamaño1: ", tamaño1)
            print("tamaño2: ", tamaño2)
            print("la suma: ", sum)
            print("percent1: ", percent1, "%")
            print("percent2: ", percent2, "%")
            """
            if percent1 > 55 and percent2 > 55:
                temp.append(j)
        
        colums.append(temp)
        
    cl = []
    descartados = []
    for i in np.arange(len(colums)):
        temp = []
        temp = colums[i]
        if i in descartados: continue
        for j in np.arange(len(colums)):

            if i == j: continue
            interval1 = colums[i]
            interval2 = colums[j]

            sum = 0
            for k in interval1:
                if k in interval2:
                    sum += 1
    
            tamaño1 = len(interval1)
            tamaño2 = len(interval2)
            percent1 = int((100/tamaño1)*sum )
            percent2 = int((100/tamaño2)*sum )
            """
            print("tamaño1: ", tamaño1)
            print("tamaño2: ", tamaño2)
            print("la suma: ", sum)
            print("percent1: ", percent1, "%")
            print("percent2: ", percent2, "%")
            """
            if percent1 > 20 or percent2 > 20:
                temp += colums[j]
                descartados.append(j)
        cl.append(temp)

    colums = []    
    #se eliminan elementos repetidos en las columnas
    for element in cl:
        temp = []
        for i in element:
            if i not in temp:
                temp.append(i)
        colums.append(temp)
    

    print("el tamaño de cl es: ", len(cl))
    #en este bloque se saca la pocision en pixeles de la imagen
    min_max = []
    for element in colums:   
        menor = arr[element[0],0]
        mayor = arr[element[0],1]
        for i in element:
            if arr[i,0] < menor:
                menor = arr[i,0]
            
            if arr[i,1] > mayor:
                mayor = arr[i,1]
        min_max.append((menor,mayor))

    for i in range(len(min_max)):
        print(min_max[i], colums[i])

    cl = []
    descartados = []
    by_delete = []
    for i in range(len(min_max)):
        temp= []
        temp= colums[i]
        if i in descartados: continue
        for j in range(len(min_max)):

            if i==j: continue
            if min_max[i][0]-10 <= min_max[j][0] and min_max[i][1]+10 >= min_max[j][1]:
                temp += colums[j]
                descartados.append(j)
                if i > j:
                    by_delete.append(colums[j])
        cl.append(temp)

    colums = cl
    print("estos son a eliminar", by_delete)
    for k in by_delete:
        if k in colums:
            colums.remove(k)

    print()
    zises = []
    for element in colums:
        print(element)
        zises.append(len(element))
    
    mean = st.mean(zises)
    print("la media de los len ", mean)
    by_delete = []
    for i in range(len(colums)):
        percent20 = (mean/100)*20
        #print("percent20: ", percent20)
        if len(colums[i]) < percent20:
            by_delete.append(colums[i])

    for element in colums:
        print(element)
        print

    print("elementos a eliminar: ", by_delete)
    for k in by_delete:
        if k in colums:
            colums.remove(k)

    for element in colums:
        print(element)

    min_max_h= []
    for element in colums:   
        menor = arr[element[0],0]
        mayor = arr[element[0],1]
        for i in element:
            if arr[i,0] < menor:
                menor = arr[i,0]
            
            if arr[i,1] > mayor:
                mayor = arr[i,1]
        min_max_h.append((menor,mayor))

    min_max_h_unOrder = min_max_h.copy()
    min_max_h.sort()

    cl = []
    for i in np.arange(len(colums)):
        for j in np.arange(len(colums)):
            if min_max_h_unOrder[j] == min_max_h[i]:
                cl.append(colums[j])

    colums = cl

    print(min_max_h)
    
    return min_max_h,colums

El metodo build_df toma el arreglo con las columnas separadar y utiliza el diccionario construido en extracion_colums 
para crear un objeto tipo pandas.DataFrame con la misma distribucion de los datos que estaba en la imagen

In [6]:
def isNumeric(s):
    try:
        float(s)
        return True
    except ValueError:
        return False

In [7]:
def build_df(pd_dataOrdenizer, colums):
    temp = pd.DataFrame()
    pd_columns = pd.DataFrame()
    for i in range(len(colums)):
        temp = pd.DataFrame.copy(pd_dataOrdenizer.loc[colums[i], ["text", "line"]])
        temp = temp.drop_duplicates()
        temp = temp.sort_values("line")
        temp = pd.Series(temp["text"].tolist(), index=temp["line"].tolist())
        temp = temp.loc[~temp.index.duplicated(keep='first')]
        pd_columns = pd.concat([pd_columns, temp], axis=1, ignore_index=True)

    pd_columns = pd_columns.sort_index()
    return pd_columns

In [8]:
def del_headEnd(df):

    freq = df['line'].value_counts().sort_index().head(10)
    to_delete = []
    bandera = True

    for i in range(len(freq)):
        if bandera == True:
            if freq[i] == 1:
                to_delete.append(i)
            
            elif freq[i] == 2 and freq[i+1] == 1:
                to_delete.append(i)
            else: bandera = False
    
    for i in to_delete:
        df.drop(df.index[df['line'] == i] , axis=0, inplace=True)
    df.reset_index(inplace=True)
    df.drop(['level_0'], axis=1, inplace=True)

In [585]:
def isNumericColum(df): 
    type_index=[]
    str_index=[]
    counter_num = 1
    to_delete = []

    for i in df.columns:
        size = df[i].apply(isNumeric).value_counts().sum()
        try:
            if 100*df[i].apply(isNumeric).value_counts()[True]/size >= 80:
                type_index.append('num')
            else:
                type_index.append('text')
            
        except KeyError:
            type_index.append('text')

    years = np.arange(2018,datetime.now().year + 1)
    years = [str(i) for i in years]
    years.append('NOTAS')
    for i in df.columns:
        if type_index[i] == 'text':
            str_index.append(df[i][~df[i].isnull()].head(1).to_list()[0])
            to_delete.append(df[i][~df[i].isnull()].head(1).index.to_list()[0])
        else:
            df_three = df[i][~df[i].isnull()].head(3).apply(lambda x: x if x.upper() in years else np.nan)
            if df_three.count() == 0:
                str_index.append('num' + str(counter_num))
                counter_num += 1
            else:
                str_index.append(df_three[~df_three.isnull()].head(1).to_list()[0])
                to_delete.append(df[i][~df[i].isnull()].head(1).index.to_list()[0])

    str_index = [i.upper() for i in str_index]
    df.columns = str_index

In [608]:
#main
#path = r'./reto/1.PNG'
path = r'.\reto\14.PNG'
image = cv2.imread(path)
gray = get_grayscale(image)
th = thresholding(gray)
openingg = opening(gray)
cannyy = canny(gray)
img = image
hImg, wImg, _ = img.shape

custom_config = r'-c tessedit_char_blacklist=$¢§_{} --oem 3 --psm 4' 
data = pytesseract.image_to_data(img, lang= 'eng+spa', config=custom_config, output_type= 'dict')

In [609]:
pd.DataFrame(data).head(50)

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text
0,1,1,0,0,0,0,0,0,960,1603,-1,
1,2,1,1,0,0,0,522,7,344,28,-1,
2,3,1,1,1,0,0,522,7,344,28,-1,
3,4,1,1,1,1,0,522,7,344,28,-1,
4,5,1,1,1,1,1,522,7,45,28,95.808701,Notas
5,5,1,1,1,1,2,615,16,80,12,90.100655,31/12/2020
6,5,1,1,1,1,3,786,16,80,12,94.202560,31/12/2019
7,2,1,2,0,0,0,566,276,26,24,-1,
8,3,1,2,1,0,0,566,276,26,24,-1,
9,4,1,2,1,1,0,566,276,26,24,-1,
10,5,1,2,1,1,1,566,276,26,24,95.000000,
11,2,1,3,0,0,0,579,297,310,1,-1,
12,3,1,3,1,0,0,579,297,310,1,-1,
13,4,1,3,1,1,0,579,297,310,1,-1,
14,5,1,3,1,1,1,579,297,310,1,95.000000,
15,2,1,4,0,0,0,579,591,310,1,-1,
16,3,1,4,1,0,0,579,591,310,1,-1,
17,4,1,4,1,1,0,579,591,310,1,-1,
18,5,1,4,1,1,1,579,591,310,1,95.000000,
19,2,1,5,0,0,0,579,633,310,1,-1,
20,3,1,5,1,0,0,579,633,310,1,-1,
21,4,1,5,1,1,0,579,633,310,1,-1,
22,5,1,5,1,1,1,579,633,310,1,95.000000,
23,2,1,6,0,0,0,579,635,310,1,-1,
24,3,1,6,1,0,0,579,635,310,1,-1,
25,4,1,6,1,1,0,579,635,310,1,-1,
26,5,1,6,1,1,1,579,635,310,1,95.000000,
27,2,1,7,0,0,0,579,948,310,1,-1,
28,3,1,7,1,0,0,579,948,310,1,-1,
29,4,1,7,1,1,0,579,948,310,1,-1,
30,5,1,7,1,1,1,579,948,310,1,95.000000,
31,2,1,8,0,0,0,579,1214,310,1,-1,
32,3,1,8,1,0,0,579,1214,310,1,-1,
33,4,1,8,1,1,0,579,1214,310,1,-1,
34,5,1,8,1,1,1,579,1214,310,1,95.000000,
35,2,1,9,0,0,0,579,1256,310,1,-1,
36,3,1,9,1,0,0,579,1256,310,1,-1,
37,4,1,9,1,1,0,579,1256,310,1,-1,
38,5,1,9,1,1,1,579,1256,310,1,95.000000,
39,2,1,10,0,0,0,579,1466,310,1,-1,
40,3,1,10,1,0,0,579,1466,310,1,-1,
41,4,1,10,1,1,0,579,1466,310,1,-1,
42,5,1,10,1,1,1,579,1466,310,1,95.000000,
43,2,1,11,0,0,0,23,38,869,1470,-1,
44,3,1,11,1,0,0,23,38,869,1470,-1,
45,4,1,11,1,1,0,23,38,48,9,-1,
46,5,1,11,1,1,1,23,38,48,9,94.991264,ACTIVO
47,4,1,11,1,2,0,23,80,141,9,-1,
48,5,1,11,1,2,1,23,80,56,9,82.298843,ACTIVOS
49,5,1,11,1,2,2,83,80,81,9,95.750282,CORRIENTES:

In [610]:
indice_words = []
for i in range(len(data['text'])):
    if data['text'][i] != '' and data['text'][i] != ' ' and float(data['conf'][i]) >= 50 and data["text"][i] != "-" and data["text"][i] != "--" and data["text"][i] != "s" and data["text"] != "S":
        indice_words.append(i)

#print(len(indice_words))
#print(indice_words)
intervalo = calcular_espacios(data, indice_words)
print(intervalo)
coordenadas,data_organizer = coordenadas_extraccion(data,indice_words, intervalo)
df_data_organizer = pd.DataFrame(data_organizer)

(0, 8)

In [611]:
df_data_organizer.head(10)

                                  text  line                 index coordinates
0                                Notas     0                   [4]  (522, 567)
1                           31/12/2020     0                   [5]  (615, 695)
2                           31/12/2019     0                   [6]  (786, 866)
3                               ACTIVO     1                  [46]    (23, 71)
4                  ACTIVOS CORRIENTES:     2              [48, 49]   (23, 164)
5  Efectivo y equivalentes al efectivo     3  [51, 52, 53, 54, 55]   (33, 223)
6                                    2     3                  [56]  (531, 538)
7                                   Us     3                  [57]  (580, 587)
8                          249,587,111     3                  [58]  (650, 720)
9                          330,155,679     3                  [60]  (821, 892)

In [612]:
df_data_organizer.loc[:,"coordinates"].apply(lambda x: (x[0]+x[1])/2).head(10)

0    544.5
1    655.0
2    826.0
3     47.0
4     93.5
5    128.0
6    534.5
7    583.5
8    685.0
9    856.5
Name: coordinates, dtype: float64

In [613]:
del_headEnd(df_data_organizer)

In [614]:
df_data_organizer.head(5)

                  text  line     index coordinates
0                Notas     0       [4]  (522, 567)
1           31/12/2020     0       [5]  (615, 695)
2           31/12/2019     0       [6]  (786, 866)
3               ACTIVO     1      [46]    (23, 71)
4  ACTIVOS CORRIENTES:     2  [48, 49]   (23, 164)

In [615]:


#print("numero de posiciones: " + str(len(coordenadas)))
#del_headEnd(df_data_organizer)
min_max_h,colums = extracion_colums(df_data_organizer)

#Dibujado de los rectangulos en la imagen
for p in min_max_h:
    cv2.rectangle(img, (p[0], hImg-5),(p[1], 5), (random.randint(0,255), random.randint(0,255), random.randint(0,255)), 1)

for p in coordenadas:
    cv2.rectangle(img, (p[0], p[1]),(p[2], p[3]), (50, 50, 255), 1)

cv2.imwrite('salida.png',img)

df = pd.DataFrame(build_df(df_data_organizer , colums))
df.to_excel("data.xlsx", index=False)

"""
img = cv2.resize(img, (600, 700))
cv2.imshow('Result', img)
cv2.waitKey(0)
cv2.destroyAllWindows()
"""

el tamaño de cl es:  9
(522, 567) [0]
(615, 721) [1, 8, 13, 23, 52, 63, 75, 93, 108, 116, 18, 26, 29, 38, 42, 58, 67, 70, 79, 84, 87, 90, 102, 105]
(786, 892) [2, 9, 14, 24, 39, 53, 64, 76, 94, 97, 109, 111, 117, 121, 19, 27, 43, 48, 60, 68, 71, 82, 85, 91, 100, 103, 106, 113]
(23, 430) [3, 20, 72, 104, 44, 45, 46, 54, 78, 89, 95, 98, 99, 28, 4, 5, 17, 25, 30, 31, 33, 34, 35, 36, 40, 49, 50, 55, 56, 57, 66, 69, 73, 74, 77, 81, 88, 92, 101, 114, 118, 15, 83, 86, 32, 10, 61, 65, 80, 107, 110, 112]
(23, 430) [4, 5, 17, 25, 28, 30, 31, 33, 34, 35, 36, 40, 44, 45, 46, 49, 50, 54, 55, 56, 57, 66, 69, 73, 74, 77, 81, 88, 89, 92, 95, 98, 99, 101, 114, 118, 3, 20, 72, 104, 78, 15, 83, 86, 32, 10, 61, 65, 80, 107, 110, 112]
(531, 538) [6, 11, 21, 62]
(580, 588) [7, 12, 22, 37, 96, 115, 119]
(570, 588) [16, 41, 47, 51]
(751, 759) [59, 120]
estos son a eliminar []

[0, 6, 11, 21, 62]
[1, 8, 13, 23, 52, 63, 75, 93, 108, 116, 18, 26, 29, 38, 42, 58, 67, 70, 79, 84, 87, 90, 102, 105]
[2, 9, 14, 24, 39, 53, 64, 76, 94, 97, 109, 111, 117, 121, 19, 27, 43, 48, 60, 68, 71, 82, 85, 91, 100, 103, 106, 113]
[3, 20, 72, 104, 44, 45, 46, 54, 78, 89, 95, 98, 99, 28, 4, 5, 17, 25, 30, 31, 33, 34, 35, 36, 40, 49, 50, 55, 56, 57, 66, 69, 73, 74, 77, 81, 88, 92, 101, 114, 118, 15, 83, 86, 32, 10, 61, 65, 80, 107, 110, 112, 4, 5, 17, 25, 28, 30, 31, 33, 34, 35, 36, 40, 44, 45, 46, 49, 50, 54, 55, 56, 57, 66, 69, 73, 74, 77, 81, 88, 89, 92, 95, 98, 99, 101, 114, 118, 3, 20, 72, 104, 78, 15, 83, 86, 32, 10, 61, 65, 80, 107, 110, 112]
[7, 12, 22, 37, 96, 115, 119, 16, 41, 47, 51]
[59, 120]
la media de los len  29
[0, 6, 11, 21, 62]
[1, 8, 13, 23, 52, 63, 75, 93, 108, 116, 18, 26, 29, 38, 42, 58, 67, 70, 79, 84, 87, 90, 102, 105]
[2, 9, 14, 24, 39, 53, 64, 76, 94, 97, 109, 111, 117, 121, 19, 27, 43, 48, 60, 68, 71, 82, 85, 91, 100, 103, 106, 113]
[3, 20, 72, 104, 44, 45, 46, 54, 78, 89, 95, 98, 99, 28, 4, 5, 17, 25, 30, 31, 33, 34, 35, 36, 40, 49, 50, 55, 56, 57, 66, 69, 73, 74, 77, 81, 88, 92, 101, 114, 118, 15, 83, 86, 32, 10, 61, 65, 80, 107, 110, 112, 4, 5, 17, 25, 28, 30, 31, 33, 34, 35, 36, 40, 44, 45, 46, 49, 50, 54, 55, 56, 57, 66, 69, 73, 74, 77, 81, 88, 89, 92, 95, 98, 99, 101, 114, 118, 3, 20, 72, 104, 78, 15, 83, 86, 32, 10, 61, 65, 80, 107, 110, 112]
[7, 12, 22, 37, 96, 115, 119, 16, 41, 47, 51]
[59, 120]
elementos a eliminar:  [[0, 6, 11, 21, 62], [59, 120]]
[1, 8, 13, 23, 52, 63, 75, 93, 108, 116, 18, 26, 29, 38, 42, 58, 67, 70, 79, 84, 87, 90, 102, 105]
[2, 9, 14, 24, 39, 53, 64, 76, 94, 97, 109, 111, 117, 121, 19, 27, 43, 48, 60, 68, 71, 82, 85, 91, 100, 103, 106, 113]
[3, 20, 72, 104, 44, 45, 46, 54, 78, 89, 95, 98, 99, 28, 4, 5, 17, 25, 30, 31, 33, 34, 35, 36, 40, 49, 50, 55, 56, 57, 66, 69, 73, 74, 77, 81, 88, 92, 101, 114, 118, 15, 83, 86, 32, 10, 61, 65, 80, 107, 110, 112, 4, 5, 17, 25, 28, 30, 31, 33, 34, 35, 36, 40, 44, 45, 46, 49, 50, 54, 55, 56, 57, 66, 69, 73, 74, 77, 81, 88, 89, 92, 95, 98, 99, 101, 114, 118, 3, 20, 72, 104, 78, 15, 83, 86, 32, 10, 61, 65, 80, 107, 110, 112]
[7, 12, 22, 37, 96, 115, 119, 16, 41, 47, 51]
[(23, 430), (570, 588), (615, 721), (786, 892)]

"\nimg = cv2.resize(img, (600, 700))\ncv2.imshow('Result', img)\ncv2.waitKey(0)\ncv2.destroyAllWindows()\n"

En estas lineas se eliminana los '.' y las ',' de todo el DataFrame

In [616]:
for i in df.columns:
    df[i] = df.apply(lambda x: x[i].replace(',','') if type(x[i]) == str else x[i], axis=1)
    df[i] = df.apply(lambda x: x[i].replace('.','') if type(x[i]) == str else x[i], axis=1)
    df[i] = df.apply(lambda x: '0' if x[i] == 'o' else x[i], axis=1)
#isNumericColum(df)

In [617]:
type_index=[]                   
str_index=[]
counter_num = 1
to_delete = []

for i in df.columns:
    size = df[i].apply(isNumeric).value_counts().sum()
    try:
        if 100*df[i].apply(isNumeric).value_counts()[True]/size >= 80:
            type_index.append('num')
        else:
            type_index.append('text')
        
    except KeyError:
        type_index.append('text')

years = np.arange(2018,datetime.now().year + 1)
years = [str(i) for i in years]
years.append('NOTAS')
for i in df.columns:
    if type_index[i] == 'text':
        str_index.append(df[i][~df[i].isnull()].head(1).to_list()[0])
        to_delete.append(df[i][~df[i].isnull()].head(1).index.to_list()[0])
    else:
        df_three = df[i][~df[i].isnull()].head(3).apply(lambda x: x if x.upper() in years else np.nan)
        if df_three.count() == 0:
            str_index.append('num' + str(counter_num))
            counter_num += 1
        else:
            str_index.append(df_three[~df_three.isnull()].head(1).to_list()[0])
            to_delete.append(df[i][~df[i].isnull()].head(1).index.to_list()[0])

str_index = [i.upper() for i in str_index]
df.columns = str_index

In [620]:
datetime.strptime('31/12/2020'	, '%d/%m/%Y')

datetime.datetime(2020, 12, 31, 0, 0)

In [619]:
df

,ACTIVO,US,NUM1,NUM2
0,NaN,NaN,31/12/2020,31/12/2019
1,ACTIVO,NaN,NaN,NaN
2,ACTIVOS CORRIENTES:,NaN,NaN,NaN
3,Efectivo y equivalentes al efectivo,Us,249587111,330155679
4,Cuentas comerciales por cobrar y otras cuentas...,Us,891927450,492729271
5,Arrendamiento financiero por Cobrar corriente,”s,NaN,NaN
6,Inventarios,Us,376027233,251188733
7,Gastos pagados por anticipado corrientes,NaN,88376797,78319364
8,Otros activos corrientes,NaN,46680490,NaN
9,Total activos corrientes,NaN,NaN,NaN
10,ACTIVOS NO CORRIENTES:,NaN,NaN,NaN
11,Cuentas comerciales por cobrar y otras cuentas...,NaN,NaN,NaN
12,Arrendamiento financiero por cobrar,NaN,NaN,NaN
13,Inversiones en subsidiarias,NaN,NaN,NaN
14,Inversiones en asociadas,NaN,NaN,NaN
15,Propiedad planta y equipo,Us,196318297,218641524
16,Propiedades de inversión,”s,107360300,107360300
17,Crédito mercantil,NaN,NaN,NaN
18,Activos intangibles,NaN,NaN,NaN
19,Impuestos diferidos,”s,NaN,956304
20,Otros activos no corrientes,NaN,NaN,NaN
21,Total activos no corrientes,"""s",304634901,326958128
22,Total activos,NaN,NaN,NaN
23,PASIVOS Y PATRIMONIO NETO,NaN,NaN,NaN
24,PASIVOS CORRIENTES:,NaN,NaN,NaN
25,Préstamos corrientes,NaN,5969272,813765
26,Cuentas comerciales por pagar y otras cuentas ...,NaN,499897332,21797580
27,Obligaciones por arrendamiento financiero corr...,NaN,NaN,NaN
28,Pasivos por impuestos corrientes,NaN,195735358,148006581
29,Beneficios a empleados corrientes,NaN,156936670,157318251
30,Provisiones,NaN,NaN,NaN
31,Otros pasivos corrientes,NaN,NaN,NaN
32,Total pasivos corrientes,NaN,958538630,527936179
33,PASIVOS NO CORRIENTES:,NaN,NaN,NaN
34,Préstamos LP,NaN,62955094,NaN
35,Cuentas comerciales por pagar y otras cuentas ...,NaN,NaN,NaN
36,Ingresos recibidos por anticipado,NaN,NaN,8148677
37,Obligaciones por arrendamiento financiero,NaN,26550614,48488307
38,Cuentas por pagar con partes relacionadas,NaN,54586500,NaN
39,Otros pasivos no corrientes,NaN,NaN,NaN
40,Impuestos diferidos,NaN,630000,630000
41,Total pasivos no corrientes,NaN,144722207,57266984
42,Total pasivos,S,NaN,585203163
43,PATRIMONIO NETO,NaN,NaN,NaN
44,Capital emitido,NaN,NaN,40000000
45,Reservas,NaN,87360300,48361312
46,Ganancias (Perdidas) acumuladas vigencia actual,NaN,207795365,367417064
47,¡Ganancias (perdidas) acumuladas vigencias ant...,NaN,NaN,356787137
48,tro resultado integral ( Superavit por revalua...,NaN,NaN,3600000
49,Total patrimonio neto,S,1051321178,903525813
50,Total pasivos y patrimonio,S,NaN,1488728976